
<section class="container">
   <div class="row">
    <div class="column-lg-12">
      <header class="clearfix">
        <div class="logo">
            <%= link_to "Adele Harper Fitness",  root_path %>
        </div>

        <div class="navbar navbar-right">
          <ul class="nav navbar-nav navbar-inverse">
             <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Personal Training",    personaltraining_path %></li>
             <li><%= link_to "Services", services_path %></li>
              <li><%= link_to "Testimonials",    testimonials_path %></li>
              <li><%= link_to "Blog",    blog_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
        </div>
     </header>
  </div>
 </div>
</section>


